[2016-01-12 21:02] ldecoursy opened #1 "LEARNING: release and test first version of unified Mozilla Leadership Network curriculum"
- Release and test first version of a unified Mozilla Leadership Network curriculum, resources and tools
- Streamline systems for content authoring (editing, publishing, localizing, remixing)

[2016-01-12 21:02] ldecoursy opened #2 "CONVENING: document a shared approach for convenings and local groups across Mozilla"
- Create a shared and well-documented approach for convenings and local groups across Mozilla
- Including updated playbooks and a shared convening calendar

[2016-01-12 21:03] ldecoursy opened #3 "MEMBERSHIP: test our value proposition for network members"
- Test our value proposition for network members.
- Establish systems that guide effective membership, affiliation and drive innovation.

[2016-01-12 21:03] ldecoursy opened #4 "INFRASTRUCTURE: support priority initiatives around Convening, Learning and Membership"
- Provide strong tech infrastructure for our priority initiatives, Convening and Learning.
- Streamline and strengthen our CMS + CRM.

Related tickets from /plan: https://github.com/MozillaFoundation/plan/issues?q=is%3Aissue+is%3Aopen+label%3A%22MLN+Infrastructure%22

[2016-01-12 21:06] ldecoursy opened #5 "INNOVATION: develop research, collaboration tools and community tech talent"
- Drive research that aligns with our strategy and informs thought leadership publications like State of the Web
- Develop collaboration tools
- Support community tech talent

[2016-01-20 20:43] OpenMatt opened #6 "AGENDA-SETTING: run a learning-focused encryption campaign"
Plus: partnerships highlighting women in technology / International women’s day events.
- [ ] 1) Launch campaign around privacy /  encryption
- [ ] 2) Launch campaign around International Women’s Day and “mini” Maker Party
- [ ] 3) Develop MVP for State of Web prototype using encryption as model topic
- [ ] 4) Identify & recruit organization allies

Full context and plan: http://mzl.la/1ZNayE7

[2016-01-20 20:50] OpenMatt commented on #6
### January Update
- **Encryption campaign.** We are making excellent progress on our privacy / encryption campaign, launching Feb 8. Details here: http://mzl.la/encryption
- **State of the Web.** Developed a draft slide deck that describes the goal and approach. Will have a more visible / shareable / wiki in Q2.

[2016-01-20 20:52] OpenMatt commented on #6
@bhuvanshri is there a link to a document / wiki / thing in progress we can include in terms of an update for 3 above?

[2016-01-20 20:58] OpenMatt opened #7 "ONLINE: Test MVP ‘world class e-mail experience’ + storytelling"
Document what we do and learn as our first best practices guide.

[2016-01-20 21:00] OpenMatt opened #8 "GRASSROOTS: hold a summit in India to test new international community organizing models"
and document what we learned in a best practices guide

[2016-01-20 21:02] OpenMatt opened #9 "NETWORK: use encryption campaign to test and model media asset production"
- Use International Women’s Day to begin collaboration with 2016 host orgs.
- Hold first “code convenings” for advocacy.

[2016-01-20 21:05] OpenMatt opened #10 "INFRASTRUCTURE: develop plan for open source toolbox we can share with others"
- Identify likely technical partners.
- Get clarity on approach and buy-in from internal stakeholders.
- Build whatever is needed for H1 campaigns.

[2016-01-20 21:06] OpenMatt opened #11 "TEAM: increase ability work in agile, cross functional teams"
- Build a process to evaluate campaigns.
- Capture lessons in a central, open hub.
- hire VP of Advocacy

[2016-01-20 22:44] benrito commented on #6
Confused about the bug description and relationship between 1 - 3—possible to unpack?

Regarding State of the Web, @bhuvanshri can share a slide deck that describes the goal and approach, but we're won't be in a outside shareable / wiki / production mode until Q2.

If you can unpack the PM goal here we can provide more suitable documentation.

Cheers!
Ben

[2016-01-29 22:15] ldecoursy commented on #1
@chadsansing or @hannahkane Can you provide a 1-2 sentence update here on our progress in Jan? Brief is best, a la the "story of Jan" email Mark shared. Using this repo just to track monthly progress towards top line H1 deliverables.

[2016-01-29 22:21] ldecoursy commented on #5
## January

Team is working to clarify and prioritize next steps.

[2016-01-29 22:24] ldecoursy commented on #4
## January

Began process to prioritize work to happen in remainder of Q1 and Q2

[2016-01-29 22:30] ldecoursy commented on #3
## January
- Held first MLN Affiliate Policy working group meeting, where we identified commonalities/differences in how different programs identify/outreach to our key audiences, as well as the value/benefits those audiences see in participating with our work. Also defined new questions we need to explore in order to inform a policy.

[2016-01-29 22:34] ldecoursy commented on #2
## January
- Worked to clarify the mandate of the new Convenings team. Hosted Hive Chicago Buzz, and began audit to document characteristics of Mozilla convenings, and how they help develop leadership.
- Drafted first version of MoFo Convenings calendar.

[2016-01-29 22:44] hannahkane commented on #1
WRT database: January was about conducting a research project to investigate how educators currently access learning materials. Also began process of moving web lit curriculum to new template (can potentially be used for Leadership Network curriculum).

[2016-01-29 22:47] ldecoursy commented on #1
Thanks @hannahkane

[2016-01-29 22:49] ldecoursy commented on #1
## January
- MoCo/MoFo Curriculum team created smaller working groups to begin drafting curriculum guidelines, a manifesto, and possible frameworks for the leadership curriculum.
- Curriculum database - we conducted a research project to investigate how educators currently access learning materials.
- Curriculum templates - we started to move Web Lit Basics II curriculum to a new template, which m

[2016-02-01 11:12] chadsansing commented on #1
The MoCo/MoFo Mozilla Curriculum team began scoping out small-group
projects in support of the leadership curriculum (e.g. drafting a set of
curriculum guidelines and a manifesto) and discussed possible frameworks
for the curriculum itself.

On Fri, Jan 29, 2016 at 5:47 PM, Lainie DeCoursy <notifications@github.com>
wrote:

--
Chad Sansing
Curriculum Developer, Web Literacy
Mozilla Foundation
chad

[2016-02-01 18:42] edrushka commented on #2
We're very close to sharing the convenings plan (i.e. our mandate) - just working through one last item with Claw.

As shared already, we've audited Hive Chicago Buzz and are documenting the takeaways. In addition, here's what else we've done:
- [design needs] (https://github.com/MozillaFoundation/plan/issues/683)
- [schedule app] (https://github.com/MozillaFoundation/plan/issues/710)
- [convening

[2016-02-29 23:54] ldecoursy commented on #1
@chadsansing Can you help provide a line or two about our progress in Feb?

[2016-02-29 23:56] ldecoursy commented on #2
@edrushka Can you add a comment about the story of Feb similar to above?

[2016-03-01 00:03] ldecoursy commented on #4
## February
- Researched self-directed online training platforms for Clubs and other learning programs
- Localized Thimble
- Started implementing a CMS including the creation of a set of standard layouts that match real use cases
- Provided html and markdown templates, training, and support to staff authoring content in the meantime, as an interim solution
- Designed asset templates for convenings

[2016-03-01 00:07] ldecoursy commented on #5
## February
- Network Strength KPI - Developed plan and draft survey questions. Reviewed these with internal teams and external network evaluation consultants.
- MatterMoz
- Network Pulse – Developed [a framework](https://github.com/MozillaFoundation/plan/issues/746#issuecomment-189005224) for exploring ways to foster sharing among network members. Explored a [prototype](https://xmatthewx.github.i

[2016-03-01 10:59] chadsansing commented on #1
## February
- Leadership curriculum aligned with MoCo Participation team's Leadership Framework.
- Initial scoping under review.
- Assigned to @zee-moz & @chadsansing.

[2016-03-01 22:26] xmatthewx commented on #4
Updated comment above.

[2016-03-02 18:57] ldecoursy commented on #5
@simonwex @adamlofting Any edits/additions to above? Reminder the goal here is brief update on monthly progress towards H1 goals...

[2016-03-03 01:31] edrushka commented on #2
## February
- Scoped [improvements to Schedule app](https://github.com/MozillaFoundation/plan/issues/710) and identified [MVP changes](https://github.com/MozillaFoundation/plan/issues/747).
- Wrote and workshopped Convenings Team 2016 Plan, including identifying what resources and training we need to provide for staff and community.
- Began creating [graphic asset templates](https://github.com/Moz

[2016-03-03 03:20] chrislarry33 commented on #2
So much momentum!!! I love it. @edrushka if you could pick one of the above as part of a larger mofo story of feb, what would it be?

[2016-03-03 11:45] Saallen commented on #2
Additional points @edrushka
- Ravensbourne monthly planning meetings have started
- Began work on designing job description for additional convenings team member
- Attended WoW event in Berlin
- Intensional and continous planning and mapping the strategy 2020 goals across all our work

Personal team goals
- hit our team stride with meetings
- Celebrated mutual love for tea

[2016-03-03 19:11] edrushka commented on #2
@chrislarry33 @Saallen I'd propose the "stepping stones" planning (how to get outstanding people into our network by using convenings as stepping stones) is the best one to highlight.
- it's a tangible plan for building our network with strong emerging leaders
- it offers a real benefit to people at early stages in their career (career growth, leadership training, building a network of peers)
- we

[2016-03-07 15:31] adamlofting commented on #5
I made a couple of edits. Thanks.

[2016-03-07 16:21] ldecoursy commented on #5
@simonwex Can you add a quick note about MatterMoz if you agree it belongs here?

[2016-03-08 18:14] ldecoursy commented on #3
## February
- Network Strength KPI - Developed plan and draft survey questions. Reviewed these with internal teams and external network evaluation consultants.
- Finalized plans for launching new Mozilla Learning member engagement channels in March (newsletter, community call, curriculum workshop)
- Affiliate Policy working group continued discovery phase, sharing learnings and challenges related

[2016-04-01 13:30] ldecoursy commented on #2
@Saallen @edrushka Ping for March highlights - if you can keep to 3-5 bullets that would be great!

[2016-04-01 13:33] ldecoursy commented on #1
## March
- Determined scope and sequence of the Leadership Curriculum. Developed a template and started drafting modules.
- Launched Web Literacy Map 2.0
- Drafted holistic program design framework to define core values and characteristics across MLN.

[2016-04-01 13:38] ldecoursy commented on #5
Closing this ticket. Updated thinking recognizes that other MLN buckets of work create conditions for **innovation** - it's not a separate bucket of work.

[2016-04-01 13:38] #5 closed, assigned to nobody

[2016-04-01 15:57] Saallen commented on #2
## March
- Large focus on Mozretreat 2016, inviting key contributors, desiging the logistical and program elements
- Kick off key focus areas for MozFest 2016 as hotel scoping, opening Website [repo](https://github.com/MozillaFoundation/2016.Mozillafestival.org) , New staff and community wrangler support and onboarding new partners such as the Tate Modern
- Worked w MSL on their Global Sprint, ass

[2016-04-13 20:04] ldecoursy commented on #4
@hannahkane @xmatthewx Can you help with March highlights (sorry, thought I pinged about this earlier)

[2016-04-13 20:05] ldecoursy commented on #3
## March
- Distributed Network Mapping surveys to inform membership proposition
- Completed discovery phase for Affiliate Policy working group
- Hired consultant to work on rewards and recognition programs to build sense of belonging

[2016-04-14 16:25] hannahkane commented on #4
## March
- Released a prototype of a new web-based chat platform with the goal of offering a more inclusive, inviting and integrated experience than IRC
- Released interactive Web Literacy Map (v2.0)
- Finished build-out of CMS v1 including teach.m.o hooks (release is blocked on a hosting issue)
- Designed and built templates for use in CMS and beyond to unify web experiences and speed up producti

[2016-04-14 16:26] hannahkane commented on #4
@xmatthewx and @simonwex - I started a list, but need you both to add to / fix what I've written. :)

[2016-04-14 16:28] hannahkane commented on #4
@ldecoursy - does the Web Lit Map belong here, or does that go in a different ticket?

[2016-04-14 16:43] xmatthewx commented on #4
You might add emphasis on templates.
 * Designed and built templates for use in CMS and beyond to unify web experiences and speed up production.
 * Design and developed a bootstrap theme to align styles across web properties and speed up production.

While I'm here, April WIPs:
 * Built a lightweight Clubs event reporting tool to better track and measure global activity and impact. Began field tes

[2016-04-14 16:55] simonwex commented on #4
:+1:  on adding Web Literacy Map. I also agree with the emphasis @xmatthewx is suggesting.

I think adding [Mozilla Chat](https://chat.mozillafoundation.org/mozilla) would be a good and significant piece of work:

[2016-04-14 17:24] hannahkane commented on #4
in general, @ldecoursy, do you want these monthly updates to include completed work or also work-in-progress?

[2016-04-14 17:31] ldecoursy commented on #4
Ideally it's a top-line summary (5-7 bullets) of progress in that month, so can be a little of both. If you can edit your comment above to incorporate @xmatthewx's comments I'll  delete some of the discussion-y comments so this thread just has one comment per month.

[2016-05-02 16:11] ldecoursy commented on #4
ping @hannahkane for April highlights (how time flies!)

[2016-05-02 16:11] ldecoursy commented on #2
ping @Saallen @edrushka for April top line progress bullets. Thanks!

[2016-05-02 16:12] ldecoursy commented on #1
ping @kaythaney @chadsansing @zee-moz for top line progress in April. Thanks!

[2016-05-02 16:36] edrushka commented on #2
## April
- Large focus on Mozretreat 2016. Interviews with all participants. Designing agenda.
- Updated MozFest website
- Kicked off several MozFest areas including design, tech pieces
- Consulted on design and dev work for schedule app
- Planning June 1 'Call for Proposals' update to MozFest site
- Working with Michelle & Jon on IOT Dundee event design
- Working with Katie on Hive Chattanooga ev

[2016-05-02 18:29] hannahkane commented on #4
## April
- Conducted security and legal review of Teachable platform for Club Captain training
- Released beta version of Clubs Event Reporter tool
- Refactored event app for use by multiple events. Prepped a version for London All-Hands.
- Continued ideation on rich Event App features
- Further improvements to curriculum template design, in response to user feedback
- Continued progress on Scienc

[2016-06-02 17:17] ldecoursy commented on #4
ping @hannahkane @xmatthewx for May

[2016-06-02 17:18] ldecoursy commented on #2
ping @edrushka @Saallen for May

[2016-06-02 17:19] ldecoursy commented on #1
ping @kaythaney @chadsansing @zee-moz - realize now we didn't get to April here either. Can you share a few top line bullets on progress for April/May?

[2016-06-02 17:21] ldecoursy commented on #3
@adamlofting ping for brief April/May update re: Network Mapping

[2016-06-02 22:56] hannahkane commented on #4
## May
- Released new Science site look and feel and backend at science.mozilla.org
- Put the CMS on a staging server and began to test it and resolve found issues
- Refined Club Captain application form based on feedback from program staff
- Supported prototype design and build for Digital Skills Observatory
- Conducted discovery and estimation process for potential partnership with Code.org arou

[2016-06-02 23:10] edrushka commented on #2
## May
- Hosted MozRetreat (planning session for MozFest 2016) in Berlin
- Worked with Space Wranglers to get all Space Narratives written
- Designed call for proposals (including translation into French, Spanish & Arabic)
- Developed mainstage and Discussion & Debate ideas with Kevin
- Updated MozFest website with 2016 information and Call for Proposals form
- Worked with Katie on Hive Chattanoog

[2016-06-03 15:11] adamlofting commented on #3
## April/May
- The Network Mapping Surveys closed, and the [analysis is underway here](https://docs.google.com/document/d/17NQKl7QdlpxdAaDkm36Gtlxla6WHTu1Qn1OJ0xktMYo/edit#).
- Developed roadmap for the next 12 months of this work.
- Developed plan for recognizing affiliations (executives & champions) and contributions (young, emerging, professional leaders)

[2016-06-06 12:33] Saallen commented on #2
cc @edrushka added some more points above 🏨

[2016-06-15 10:26] ldecoursy commented on #3
Also:
* Developed plan for recognizing affiliations (executives & champions) and contributions (young, emerging, professional leaders)

[2016-08-15 21:15] ldecoursy opened #12 "LEARNING: Test and iterate MLN curriculum with new audiences and connect learning initiatives across hubs and communities."
## H2 Goals
1. Test and iterate Open Leadership and Web Literacy Trainings across hubs
2. Explore how communities can discover, adapt, and author curriculum via curriculum database
3. Pilot web literacy and open leadership credentials to capture skills and competencies and recognition for completing training
4. Test cross-hub learning experiences in support of key issues, to encourage new network

[2016-08-15 21:21] ldecoursy commented on #12
## MONTH
- ACCOMPLISHMENTS (What progress did we make towards these goals?)
- LEARNINGS (What challenges did we face/what went well/what did we learn?)
- PRIORITIES FOR NEXT MONTH (What are we focusing on next?)
- ON TRACK? BLOCKED? (List dependencies, or collaborations with other teams at MoFo/MoCo)

[2016-08-22 17:15] ldecoursy commented on #1
See #12 for H2 Learning goal - closing this now.

[2016-08-22 17:15] #1 closed, assigned to nobody

[2016-08-22 17:17] ldecoursy opened #13 "CONVENING: Ship MozFest 2016. Continue to audit/support convenings and local groups across MLN."
## GOALS
1. Design, delivery and execution of MozFest 2016
2. Scope long-term plans for "MozFest towards 2020" strategy
3. Support Maker Party 2016
4. Develop meaningful data practices to measure our network strength at convenings

[2016-08-22 17:18] ldecoursy commented on #2
Closing this ticket. See #13 for H2 Convening goals.

[2016-08-22 17:18] #2 closed, assigned to nobody

[2016-08-22 17:20] ldecoursy opened #14 "PARTNERSHIPS: Provide support and resources to staff on fundraising and grant management."
## GOALS
1. Complete series of training and information workshops
2. Facilitate monthly development calls
3. Create fundraising and grant management mana
4. Implement project design to grant management timeline with MLN staff
5. Identify and implement grant management system to meet growing grantmaking needs across MLN

[2016-08-22 17:22] ldecoursy opened #15 "MEMBERSHIP: Pilot two rewards and recognition programs for increasing sense of belonging. Unify Fellowships programs."
## GOALS
1. Implement two pilots to celebrate and energize network members across tiers
2. Draft additional rewards and recognition programs to celebrate learning across the network
3. Joint fellowship onboarding; continue to streamline fellowship offering across MLN
4. Scope work to better align Clubs and Study Groups

[2016-08-22 17:23] ldecoursy commented on #3
Closing this ticket. See #15 for updated H2 Goals for Membership

[2016-08-22 17:23] #3 closed, assigned to nobody

[2016-08-22 17:25] ldecoursy opened #16 "PRODUCTION (CONTENT): Reach a global audience"
## GOALS
1. OWF, Learning and Science site iterations
2. Learning L10n
3. Refining CMS strategy, onboard program staff
4. Hive/Gigabit integration
5. Explore real-time indicators of network health
6. Support the network mapping survey
7. Identity access management integration and Persona replacement

[2016-08-22 17:26] ldecoursy opened #17 "PRODUCTION (CONVENINGS): Connect leaders to leaders"
## GOALS
1. Storytelling app MVP
2. Event App 2.0

[2016-08-22 17:27] ldecoursy opened #18 "PRODUCTION (ORGANIZING): Scale on-the-ground impact"
## GOALS
1. Curriculum platform
2. Thimble in the Classroom

[2016-08-22 17:28] ldecoursy commented on #4
Closing this ticket. See #16, #17 and #18 for updated H2 Production goals

[2016-08-22 17:28] #4 closed, assigned to nobody

[2016-08-22 17:31] ldecoursy commented on #18
## JULY
- ACCOMPLISHMENTS (What progress did we make towards these goals?)
  - Debrief of Code.org partnership process and agreed on next steps
- LEARNINGS (What challenges did we face/what went well/what did we learn?)
  - Need to determine the best way we can add value for potential partners wanting to make use of Thimble or Bramble.

[2016-08-22 17:31] ldecoursy commented on #17
## MONTH
- ACCOMPLISHMENTS (What progress did we make towards these goals?)
- LEARNINGS (What challenges did we face/what went well/what did we learn?)
- PRIORITIES FOR NEXT MONTH (What are we focusing on next?)
- ON TRACK? BLOCKED? (List dependencies, or collaborations with other teams at MoFo/MoCo)

[2016-08-22 17:31] ldecoursy commented on #16
## JULY
- ACCOMPLISHMENTS (What progress did we make towards these goals?)
  - Shipped [OWF one-year report](http://mozilla.github.io/content/open-web-fellows-report/#introduction)
  - Shipped [layout changes to OWF section of Advocacy site](https://advocacy.mozilla.org/en-US/open-web-fellows/fellows2016) to support 2016 OWF program
  - Continued to add curricular content and events (community cal

[2016-08-22 17:31] ldecoursy commented on #15
## MONTH
- ACCOMPLISHMENTS (What progress did we make towards these goals?)
- LEARNINGS (What challenges did we face/what went well/what did we learn?)
- PRIORITIES FOR NEXT MONTH (What are we focusing on next?)
- ON TRACK? BLOCKED? (List dependencies, or collaborations with other teams at MoFo/MoCo)

[2016-08-22 17:32] ldecoursy commented on #14
## MONTH
- ACCOMPLISHMENTS (What progress did we make towards these goals?)
- LEARNINGS (What challenges did we face/what went well/what did we learn?)
- PRIORITIES FOR NEXT MONTH (What are we focusing on next?)
- ON TRACK? BLOCKED? (List dependencies, or collaborations with other teams at MoFo/MoCo)

[2016-08-22 17:32] ldecoursy commented on #13
## MONTH
- ACCOMPLISHMENTS (What progress did we make towards these goals?)
- LEARNINGS (What challenges did we face/what went well/what did we learn?)
- PRIORITIES FOR NEXT MONTH (What are we focusing on next?)
- ON TRACK? BLOCKED? (List dependencies, or collaborations with other teams at MoFo/MoCo)

[2016-08-25 21:40] #6 closed, assigned to nobody

[2016-08-25 21:40] #7 closed, assigned to nobody

[2016-08-25 21:40] #8 closed, assigned to nobody

[2016-08-25 21:40] #9 closed, assigned to nobody

[2016-08-25 21:40] #10 closed, assigned to nobody

[2016-08-25 21:40] #11 closed, assigned to nobody

[2016-08-29 20:08] ldecoursy commented on #12
@chadsansing @zee-moz @hannahkane @anmechung Hi - Can you please provide an update on our progress towards H2 goals from July and August (combined)? See the template above and let me know if you have any questions.

[2016-08-29 20:09] ldecoursy commented on #14
@anmechung Can you please update progress towards our H2 goals using the template in my above comment? If better for someone else on your team let me know and I can ping them each month moving forward.

[2016-08-29 20:47] ldecoursy commented on #15
@rtufail Can you please use the template in my comment above to share an update on our progress towards the stated H2 goals so far in July and August (specifically the first two goals)? Let me know if you have any questions. @vanessarhinesmith and @auremoser can you help with an update on goal #3 above?

[2016-08-29 23:17] anmechung commented on #14
Yes!  I'll be responsible for completing.  Question:  accomplishments, learnings up to now? i.e. H1 and H2? or in past month? i.e. August?

[2016-08-29 23:18] ldecoursy commented on #14
@anmechung The idea is to update this ticket every month during H2. Should cover July and August for this one, and then I'll ping you monthly after that :)

[2016-08-30 04:30] auremoser commented on #15
## AUGUST
- ACCOMPLISHMENTS - Fellows
  We're moving forward with the joint onboarding in Toronto, CA, September 12-16th.
  Our planning materials are stored [here](https://public.etherpad-mozilla.org/p/fellowships-onboarding) and we're working on [a schedule](https://public.etherpad-mozilla.org/p/2016-fellows-onboarding) that will subsequently split into multiple planning pads in prep for the fel

[2016-08-30 05:17] anmechung commented on #14
## JULY/AUGUST
- ACCOMPLISHMENTS
  We completed: 1) first in-person MoFo and Money workshop in London followed by second workshop on grant writing in August; 2) Two monthly development calls (July and August); 3) launching mana 1.0;  4) implemented project design to grant management timeline along with project design tool in July; and 5) identified grant management system (Fluxx) currently under r

[2016-08-30 11:05] chadsansing commented on #12
@ldecoursy, @zee-moz, @hannahkane, @anmechung: working here:

https://docs.google.com/document/d/1iw4iVvH8WKPd50SwWt6XL4lX1z4b4PhWfMbTPcxjtk8/edit#

[2016-08-30 12:28] vanessarhinesmith commented on #15
This is all AWESOME!

[2016-08-30 13:33] rtufail commented on #15
- ACCOMPLISHMENTS
Initiated implementation of two pilot programs to energize network members.
--- A program to engage network members within the professional profile  (within network audience profiles) has been started and a selection of these members have been recruited to the MLN Advisory Group - where they will be able to provide support and guidance to the evolution of the MLN. Candidates or p

[2016-08-30 14:45] ldecoursy commented on #17
@xmatthewx When you're back, can you help update this ticket for July/Aug using the template in the comment above? thanks!

[2016-08-30 14:45] ldecoursy commented on #16
ping @hannahkane for July/Aug update using the template in the comment above. Thanks!

[2016-08-30 14:46] ldecoursy commented on #18
ping @hannahkane for July/August update using template in the comment above. Thanks!

[2016-08-30 15:37] chadsansing commented on #12
# July

## Accomplishments
- Developed RP6 (2-day) web literacy training agenda and materials.
- Revised Open Leadership Training Series (OLTS) in response to feedback from a second round of readers
- Delivered Kenya DSO Intervention 4
- Kicked-off community co-design on a critical web literacy module
- Started developing Maker Party activities
- Collaborated with DigitalMe on initial 21st Century

[2016-08-30 15:42] chadsansing commented on #12
# August

## Accomplishments
- Began migrating OLTS curriculum into teachable
- First mentored cohort of learners from across hubs began working through (draft) OLTS
- Developed IMLS (1-day) web literacy training
- Delivered RP6 (2-day) web literacy training with 50 veterans, active service members, and family members
- Delivered IMLS (1-day) web literacy training with 60 librarians
- Revised Make

[2016-08-30 16:25] hannahkane commented on #12
I'm going to track database updates in https://github.com/MozillaFoundation/Goals/issues/18. @ldecoursy - would you prefer we track them here as well?

Would be good to clarify the design/branding needs. Is that expected to be coming from the MLN production team or somewhere else?

[2016-08-30 16:37] ldecoursy commented on #12
@hannahkane Sounds good re: tracking database in #18

@chadsansing @zee-moz can you answer the q re: design/branding for OLTS?

[2016-08-30 17:15] chadsansing commented on #12
I think @zee-moz filed those tickets thinking the works would be done by MoFo; is that correct, Zannah?

[2016-08-30 18:08] anmechung commented on #12
additions for August:

add to Accomplishments
- Contractor videotaped Aug 25 IMLS training to be added to web literacy curriculum/activities in October

add to Learning
- Cross-hub/product web literacy training teams very effective for training others and their understanding of who and what Mozilla does, and learning across MLN
- Learnings detailed https://medium.com/read-write-participate/digital

[2016-08-30 18:15] hannahkane commented on #12
Sorry, realizing my earlier comment made it seem like the OLTS design/brand work is coming out of nowhere, which, of course, it's not. :) Just flagging that we should get specific about what the deliverables are for MLN designers in September, and whether some of this work (larger branding stuff?) is happening elsewhere.

[2016-08-30 18:21] hannahkane commented on #16
## AUGUST
- ACCOMPLISHMENTS (What progress did we make towards these goals?)
  - Shipped new [multi-tabbed structure for Clubs content](https://learning.mozilla.org/en-US/clubs) on Learning site
  - Streamlined Club Captain application/review workflow with new multi-page Club Captain application form
  - Implemented Learning site localization infrastructure. Here is, for example, the Pontoon inter

[2016-08-30 18:28] hannahkane commented on #18
## AUGUST
- ACCOMPLISHMENTS (What progress did we make towards these goals?)
  - Building out the model for the curriculum database
- LEARNINGS (What challenges did we face/what went well/what did we learn?)
  - In the process of learning about users' mental models for curriculum search/discovery
- PRIORITIES FOR NEXT MONTH (What are we focusing on next?)
  - Building out front-end experiences for

[2016-08-30 18:31] zee-moz commented on #12
@chadsansing @ldecoursy @hannahkane
yes, I've filed tickets for specific deliverables-- I added the "design branding/thinking" item to blockers because the OTLS is (I think) the first big Leadership Network thing, and we want to be in sync or at least aware of any branding work that's happening for MLN elsewhere at the Foundation, and if there's resources we can use in OLTS from those efforts, all

[2016-08-30 21:26] ldecoursy commented on #12
Any MLN branding will follow general Mozilla branding, so likely in 2017. Not sure we should consider it a blocker, though, to testing and iterating.

[2016-09-01 12:41] Saallen commented on #13
## JULY/AUGUST

ACCOMPLISHMENTS
- Closed the call for proposals with the highest amount of submissions of over 800 proposals
- Successful launched our Dialogue and Debate speaker series with 9 confirmed speakers already
- Low-FI work week successful with time spent designing MozFest towards 2020 strategy, location scouting has begun and legacy project for UK in design stage
- Attended SRCCON
- Pla

[2016-09-01 12:42] Saallen commented on #13
@ldecoursy playbook is held on my input and updating- Will be a focus now in the last Q in 2016, post festival

[2016-09-06 13:59] ldecoursy commented on #12
Each month after updates are added, I'll combine them and remove additional comments (so the only comments are the monthly updates).

@zee-moz Can I remove the design/branding note as a blocker given the above?

[2016-09-06 14:31] zee-moz commented on #12
@ldecoursy @hannahkane  to clarify, any materials that are created now will be re-designed/re-branded in 2017, or will new branding be applied only to new products? will MLN branding include illustration/animation styles, or just logo treatments?
I think it's OK to remove this as a blocker as long as we've got the info we need to make resource/design decisions now. @hannahkane, what do you think?

[2016-09-07 18:19] hannahkane commented on #12
Sure, probably okay to remove.

[2016-09-14 12:54] ldecoursy commented on #17
ping @xmatthewx when you can!

[2016-09-29 17:23] ldecoursy commented on #17
@xmatthewx Can you please update here against these goals using the template above - maybe one comment with a Q3 update rather than separate comments for each month?

[2016-09-29 21:55] xmatthewx commented on #17
## Q3
- ACCOMPLISHMENTS (What progress did we make towards these goals?)
  - We launched Network Pulse, our v1 prototype, and started a pilot test with program staff. This iteration includes the ability search and favorite assets, and browse them by our five key issues.  https://mzl.la/pulse
  - We iterated on the event app with improved UI and UX for use at MozFest. It includes refined navigation

[2016-10-03 20:59] abbycabs commented on #17
@xmatthewx I filled out the template for mentorship program stuff. Feel free to edit/merge with your comment!

GOAL: launch mentorship program
- Strengthen network connections
- Increase & sustain project-based engagement at MozFest 2016

Q3 - Mentorship Program
- ACCOMPLISHMENTS (What progress did we make towards these goals?)
  - Launched Mentorship Program
  - Gathered nominations from across M

[2016-10-04 18:24] ldecoursy commented on #18
Ping @hannahkane for Sept when you can...

[2016-10-04 18:25] ldecoursy commented on #16
ping @hannahkane for Sept when you can.

[2016-10-04 18:28] ldecoursy commented on #15
ping @rtufail to add R&R details for September. @auremoser Can you do a few bullets re: fellows? Ultimately I'll combine so we have one comment for September that combines accomplishments/learnings/priorities for everything that falls within our Membership key initiative.

[2016-10-04 18:28] ldecoursy commented on #14
ping @anmechung for September update. Thanks!

[2016-10-04 18:29] ldecoursy commented on #13
ping @edrushka @Saallen for September update - is by end of this week doable? Thanks!

[2016-10-04 18:33] ldecoursy commented on #12
ping @chadsansing @zee-moz for September update. Is end of this week do-able?

[2016-10-04 18:36] chadsansing commented on #12
# September

## Accomplishments
- Attended & debriefed on Chattanooga IoT event
- Drafted Make Your First Webpage module for testing
- Iterated curriculum template & began updating curriculum styling w/ @flukeout
- Supported IMLS pilot
- Supported MozFest pathways, Demystify the Web work
- Liaised on Web Literacy badges for IMLS, MozFest
- Drafted & revised Maker Party activities
- Helped Chicago

[2016-10-04 18:57] edrushka commented on #13
## September

ACCOMPLISHMENTS
- Started Space Wrangler 1:1 trainings
- Started Facilitator trainings
- Published Facilitator guide (for the first time ever - new asset)
- Shipped key festival design assets (style guide, festival guide, wayfinding etc.)
- Confirmed Speaker Series speakers and sent them a playbook
- Hired and onboarded Stevie Benton, the MozFest Editor
- Worked with Mavis on the Sch

[2016-10-04 23:06] hannahkane commented on #18
## SEPTEMBER
- ACCOMPLISHMENTS (What progress did we make towards these goals?)
  - Curriculum database front-end has been [designed and prototyped](https://flukeout.github.io/curriculum-db-ui-test/)
    ![screen shot 2016-10-04 at 4 04 02 pm](https://cloud.githubusercontent.com/assets/8389648/19095710/35edcddc-8a4c-11e6-8982-886e0ed2aa9b.png)
- LEARNINGS (What challenges did we face/what went wel

[2016-10-04 23:12] hannahkane commented on #16
## SEPTEMBER
- ACCOMPLISHMENTS (What progress did we make towards these goals?)
  - Gigabit pages on Learning site are nearly shipped
  - Curriculum localization campaign plan drafted
  - Science site v2 spec'ed
  - Completed series of conversations around the evolution of the Learning site to better align with Learning hub goals
  - Necessary MozFest site updates and production work
  - Submitted

[2016-10-05 15:00] xmatthewx commented on #16
We should add a bullet about the mozilla.org/foundation design. It's the first place the general public and strategic partners will learn about the Leadership Network.

[2016-10-05 16:20] hannahkane commented on #16
Added. Thanks!

[2016-10-06 15:19] auremoser commented on #15
Sorry @ldecoursy just seeing this, what did you mean here? A few bullets about the fellows onboarding? or about the fellows themselves?

I included some cribbed from the MLN call here:
- Presentation: https://docs.google.com/presentation/d/1vj3g9AzLy2ZLhDK-dOt5W693eXb1Gugf8P9HLQCieCU/edit?usp=sharing
- Agendas: https://public.etherpad-mozilla.org/p/2016-fellows-onboarding breakout: https://public.

[2016-10-06 15:24] ldecoursy commented on #15
Sorry @auremoser I meant to use the same format as listed in the 2nd comment - accomplishments/learnings/etc based on the H2 goal listed at the top of the issue.

[2016-10-07 19:09] rtufail commented on #15
ACCOMPLISHMENTS:
On track with the R/R programs. Received approx 140 nominations, with approx 300 additional feedback on these nominations from staff.
12 MLN Advisory Group members finalized
LEARNINGS (What challenges did we face/what went well/what did we learn?)
The amount of time it takes for these nomination exercises, with a distributed workforce, travel commitments and other urgent deadlines

[2016-10-10 00:55] auremoser commented on #15
- ACCOMPLISHMENTS - Fellows

All went well with the joint onboarding for the fellows; we conducted an orientation with 10 fellows present and 2 remote, which included a creative tech setup for continuous video-chat and coordinated activities to accommodate all attendees.

We programmed 5 days of activities, evening events and dinners around Toronto, introducing the fellows to local Mozillians (in

[2016-11-07 22:43] ldecoursy commented on #18
ping @hannahkane for Oct :)

[2016-11-07 22:45] ldecoursy commented on #17
ping @xmatthewx for Oct updates.

@acabunoc I wonder if your Sept update (and hopefully an Oct update too) belongs in #12 instead

[2016-11-07 22:45] ldecoursy commented on #16
Ping @hannahkane for Oct.

[2016-11-07 22:47] ldecoursy commented on #15
ping @rtufail @auremoser for Oct updates (using the same template in the 2nd comment). Thanks!

[2016-11-07 22:47] ldecoursy commented on #14
ping @anmechung Can you add an update for Sept/Oct using the same template as in the 2nd comment? Thanks!

[2016-11-07 22:48] ldecoursy commented on #13
ping @Saallen @edrushka for Oct updates. BTW, CONGRATS ON ROCKING IT!!! Bummed I missed out :*(

[2016-11-07 22:49] ldecoursy commented on #12
ping @chadsansing @zee-moz for Oct updates. Also wondering if this is where @acabunoc's mentorship pilot updates should live (Sept update was in #17)

[2016-11-08 18:44] chadsansing commented on #12
# Accomplishments
- Consult on MozFest planning & web literacy badges
- MozFest sessions & MCW episode
- Prepped Make Your First Webpage module for production
- Began migrating a copy of our core curriculum to Thimble for badging & remix by IMLS project pilots
- Started liaising between MoFo and Kim Wilkens's SPARK youth hackathon
- Started working w/ community members interested in developing a c

[2016-11-08 19:51] auremoser commented on #15
**ACCOMPLISHMENTS**
_Fellow's work and progress for this month_
All is grand, we just wrapped up [an amazing Mozfest](https://science.mozilla.org/blog/2016-mozfest-recap) replete with joint fellows' activities, lightning talks, and zine printing (special H/T + 😍  to @vanessarhinesmith for getting that done).

We're working on a joint workweek for January / February (likely the second week in Febru

[2016-11-10 15:53] xmatthewx commented on #17
## October 2016

Lots of accomplishments and measurable wins.

### Schedule App

We made small improvements to the UI and UX of the schedule app. This minimal investment of time and energy paid off in big ways.
-  Attendees were able to navigate the complex schedule. **Sessions were full, reportedly higher than ever before**, despite the sheer number of options.
-  We captured a ton of data on the

[2016-11-16 00:04] hannahkane commented on #16
## OCTOBER
- ACCOMPLISHMENTS (What progress did we make towards these goals?)
  - Gigabit pages on Learning site shipped: https://learning.mozilla.org/en-US/gigabit
  - Curriculum localization campaign plan begun: https://mozilla.github.io/curriculum-localization/about/
  - MozFest website, schedule app complete!
  - Foundation landing page revised: https://www.mozilla.org/en-US/foundation/
- LEAR

[2016-11-16 00:09] hannahkane commented on #18
## OCTOBER
- ACCOMPLISHMENTS (What progress did we make towards these goals?)
  - Curriculum database front-end continues to be iterated on
  - Significant Thimble fixes
  - Design review of [OLTS](https://github.com/mozilla/open-leadership-training-series/issues/24)
  - Badges back-end ready to go (waiting on content)
- PRIORITIES FOR NEXT MONTH (What are we focusing on next?)
  - Continue to bui

[2016-11-23 15:21] Saallen commented on #13
Better late than never @ldecoursy
**Accomplishments**
- design and delivery of MozFest
- Assiting in the delivery of the facilitator training on Friday of the festival

**Learnings**
- As the festival grows so do our responsibilities to attendees and staff- need more support here

**Priorities for November**
- Take some time off
- Digest the success and challenges, of this years event and the feed

[2016-12-23 16:33] ldecoursy commented on #18
Ping @hannahkane When you get a chance can you do a Nov/Dec update, maybe wrap up where this landed at end of 2016.

[2016-12-23 16:33] ldecoursy commented on #17
@xmatthewx Anything to add here for Nov/Dec?

[2016-12-23 16:34] ldecoursy commented on #16
@hannahkane Anything here to wrap up for 2016 (or rollover to 2017)?

[2016-12-23 16:44] ldecoursy commented on #14
ping @anmechung Anything to add to wrap up this ticket (updates from Q4)? Going to add new tickets for each OKR for Jan.

[2016-12-23 16:45] ldecoursy commented on #13
@edrushka @Saallen Anything to add to wrap up this ticket? Going to open up new ones for each OKR for 2017

[2016-12-23 16:46] ldecoursy commented on #12
@chadsansing @acabunoc Anything to add for Q4 before we close out this ticket in early Jan?

[2016-12-23 16:51] ldecoursy opened #19 "INTERNET HEALTH AWARENESS"
## Increase public awareness about internet health.

**JANUARY**
* Do Partner Outreach. Develop strategy for re-engaging / connecting w. existing + potential partners.
* Launch Internet Health Report 0.1. Gather input from network; develop collaboration framework.
* Develop Internet health curriculum plan. Identify key principles + skills to include in first module.
* Develop Internet health resea

[2016-12-23 16:51] ldecoursy commented on #19
## MONTH

* ACCOMPLISHMENTS (What progress did we make towards these goals?)
* LEARNINGS (What challenges did we face/what went well/what did we learn?)
* PRIORITIES FOR NEXT MONTH (What are we focusing on next?)
* ON TRACK? BLOCKED? (List dependencies, or collaborations with other teams at MoFo/MoCo)

Did you discover or produce a new asset? File it for our network: https://mzl.la/pulse

[2016-12-23 18:26] ldecoursy opened #20 "LEADERSHIP NETWORK 1.0"
## Launch the Mozilla Leadership Network -- and our issues -- into the world.

**JANUARY**

* Prep MLN site launch. Sprint on dev & design, value proposition + member stories and Pulse production backend.
* CRM integration. Build out member / participant database in Salesforce. Test + merge legacy participant data, prep for site launch and data intake, further integrate CRM.
* Prep Open Leadership

[2016-12-23 18:27] ldecoursy commented on #20
## MONTH

* ACCOMPLISHMENTS (What progress did we make towards these goals?)
* LEARNINGS (What challenges did we face/what went well/what did we learn?)
* PRIORITIES FOR NEXT MONTH (What are we focusing on next?)
* ON TRACK? BLOCKED? (List dependencies, or collaborations with other teams at MoFo/MoCo)

Did you discover or produce a new asset? File it for our network: https://mzl.la/pulse

[2016-12-23 18:29] ldecoursy opened #21 "MAINSTREAM PRIVACY & SECURITY"
## Drive public demand for better security and privacy

**JANUARY**

* Copyright campaign 2.0. Hone plans w. Policy; test new engagements w. social media & field organizing.
* Rapid message testing. Finalize creative for 2 concepts; launch test on FacebooK
* Plan for Glass Room 2.0. Debrief w. MoCo; kick off plans for 2nd install in 2017
* Update curriculum. Revise + expand Privacy and Security mo

[2016-12-23 18:29] ldecoursy commented on #21
## MONTH

* ACCOMPLISHMENTS (What progress did we make towards these goals?)
* LEARNINGS (What challenges did we face/what went well/what did we learn?)
* PRIORITIES FOR NEXT MONTH (What are we focusing on next?)
* ON TRACK? BLOCKED? (List dependencies, or collaborations with other teams at MoFo/MoCo)

Did you discover or produce a new asset? File it for our network: https://mzl.la/pulse

[2016-12-23 18:30] ldecoursy opened #22 "MOZFEST & GLOBAL EVENTS"
## Grow MozFest as focal point of internet health movement.

**JANUARY**

* Activate global remote participation for MLN events/skill shares including MozFest 2017
* Launch distributed global event model to activate programs in MLN focused on projects for Internet health building from Open Science global sprint methodology
* Build narrative and programmatic connections through Q1 MLN events like P

[2016-12-23 18:30] ldecoursy commented on #22
## MONTH

* ACCOMPLISHMENTS (What progress did we make towards these goals?)
* LEARNINGS (What challenges did we face/what went well/what did we learn?)
* PRIORITIES FOR NEXT MONTH (What are we focusing on next?)
* ON TRACK? BLOCKED? (List dependencies, or collaborations with other teams at MoFo/MoCo)

Did you discover or produce a new asset? File it for our network: https://mzl.la/pulse

[2016-12-23 18:31] ldecoursy opened #23 "DIVERSE, HIGH IMPACT MOVEMENT ORG"
## Grow MoFo into a diverse, high-impact movement org.

**JANUARY**

* Implement D&I Strategy + create D&I internal comms plan. As per Q1 roadmap.
* Ship new internal newsletter. Template + ship first newsletter, organized around OKR; identify point people/systems for each objective.
* Ship 2017 internal MoFo calendar. W. key organization dates / milestones.
* Update / clarify financial approval p

[2016-12-23 18:31] ldecoursy commented on #23
## MONTH

* ACCOMPLISHMENTS (What progress did we make towards these goals?)
* LEARNINGS (What challenges did we face/what went well/what did we learn?)
* PRIORITIES FOR NEXT MONTH (What are we focusing on next?)
* ON TRACK? BLOCKED? (List dependencies, or collaborations with other teams at MoFo/MoCo)

Did you discover or produce a new asset? File it for our network: https://mzl.la/pulse

[2017-01-03 11:26] chadsansing commented on #12
# Accomplishments
- Tested and launched Make Your First Webpage module
- Revised Privacy Basics module (waiting for refresh on /activities)
- Started planning for SPARK youth hackathon on IoT and developed a new IoT-themed problem statement
- Shared draft facilitation module at all-hands

# Learning
- Checked in with Living Online Lab
- Connected with DOT and David Flannagan at all-hands

# Priori

[2017-01-03 17:40] hannahkane commented on #16
Leaving a draft here, for others to amend.

## NOVEMBER / DECEMBER

ACCOMPLISHMENTS:
 * Curriculum localization campaign is complete. Wrap-up tasks include publishing the localized curriculum, summarizing learnings, and updating [online hub](https://mozilla.github.io/curriculum-localization/about/).
 * Architectural Diagrams were created. See [Systems overview](https://www.lucidchart.com/invitatio

[2017-01-03 17:48] hannahkane commented on #18
Draft for others to amend.

## NOVEMBER / DECEMBER
- ACCOMPLISHMENTS (What progress did we make towards these goals?)
  - Interactive curriculum proposal finalized and approved
  - DSO report-writing and convening planning— @secretrobotron - can you verify this, and perhaps provide links?
  - Tweaks to badges UX

- PRIORITIES FOR NEXT MONTH (What are we focusing on next?)
  -  Interactive curricul

[2017-01-04 13:31] secretrobotron commented on #18
* *DSO report-writing*: Laura and I are writing the report in a series of InDesign files. We've been talking to Mark Staplehurst about helping us with design. Need to follow up with him now that we're back.
* *DSO convening planning*: We've been working with Sarah and Erika on shaping the convening. It doesn't require much from this team at the moment, but I'll keep you posted.
* *DSO priorities*:

[2017-01-04 18:06] edrushka commented on #13
## November & December

**ACCOMPLISHMENTS**
- extensive MozFest debriefing (with both internal and external partners and stakeholders)
- MozFest surveys to various groups of participants
- continued planning for MozFest 2017 and 2018
- helped Chad plan the SPARK convening
- helped Bobby and Laura plan the DSO convening
- helped Hive Chicago team plan HCB 2017
- met with several MoCo teams in Hawai

[2017-05-23 03:31] #19 closed, assigned to nobody

[2017-05-23 03:31] #20 closed, assigned to nobody

[2017-05-23 03:31] #21 closed, assigned to nobody

[2017-05-23 03:31] #22 closed, assigned to nobody

[2017-05-23 03:31] #23 closed, assigned to nobody